.main-div {
  margin: auto auto;
  width: 50%;
  padding: 10%;
  text-align: center;
  align-items: center;
}

.title{
  font-weight: bold;
  color: #BB2200;
  font-size: 1.2rem;
}

.spacer{
  margin: 10% 0;
}

.main-div .button{
  width: 80%;
  height: 10%;
}
