<mat-toolbar color="primary">

  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>


  <span class="example-spacer"></span>
  <span>TourMates</span>
  <span class="example-spacer"></span>


  <button routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" [src]="traveller.image" width="30%">
    <h4 class="name">{{traveller.firstName}} {{traveller.lastName}} </h4>
    <p class="designation">Tourmates</p>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="disableOption()" routerLink="home">
      <mat-icon>home</mat-icon>
      <span> Home</span>
    </button>
    <button mat-button class="menu-button" (click)="setOption()" routerLink="search">
      <mat-icon> search </mat-icon>
      <span> Search Places</span>
    </button>
    <button mat-button class="menu-button" (click)="disableOption()" routerLink="messages">
      <mat-icon>messages</mat-icon>
      <span> Messages </span>
    </button>
    <button mat-button class="menu-button" (click)="disableOption()" routerLink="notifications">
      <mat-icon matBadge="{{notifications.length}}" matBadgeColor="warn" >notifications</mat-icon>
      <span> Notifications</span>
    </button>
    <button mat-button class="menu-button" (click)="setOption()" routerLink="profile">
      <mat-icon> person</mat-icon>
      <span> Profile</span>
    </button>
    <button mat-button class="menu-button" (click)="setOption()" routerLink="favorites">
      <mat-icon> favorites</mat-icon>
      <span> Favorites</span>
    </button>
    <button mat-button class="menu-button" (click)="setOption()" routerLink="matches">
      <mat-icon> list </mat-icon>
      <span> Match list</span>
    </button>
    <button mat-button class="menu-button"  (click)="disableOption()" routerLink="/login">
      <mat-icon> logout</mat-icon>
      <span> Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf= "profile === false">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div *ngIf= "profile">
      <div class="">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer></footer>
