<div class="form-container">
  <button mat-icon-button class="btn-back" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <table>
    <tr>
      <th><mat-card-title>Profile+</mat-card-title></th>
    </tr>
    <tr>
      <td><mat-card-subtitle>Fill in your credentials</mat-card-subtitle></td>
    </tr>
  </table>
  <section class="items-section">
    <p>Login as</p>
    <mat-radio-group [(ngModel)]="logger">
      <mat-radio-button class="items-margin" value="traveller" checked>Traveller</mat-radio-button>
      <mat-radio-button  class="items-margin" value="bussiness">Bussiness</mat-radio-button>
    </mat-radio-group>
  </section>
  <div class="form-login">
    <form class="form-to-login" [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <!--Email-->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" placeholder="example@gmail.com">
        <mat-error *ngIf="email?.errors?.['required']">Email is <strong>required</strong></mat-error>
        <mat-error *ngIf="email?.errors?.['pattern'] || email?.errors?.['email'] ">Please enter valid <strong>email</strong></mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="password?.errors?.['required']">Password is <strong>required</strong></mat-error>
      </mat-form-field>
      <button class="btnLogIn" mat-raised-button color="primary" type="submit" (click)="openDialog()" >Log In</button>
    </form>
    <ul>
      <li><a routerLink="/forgot-password">Forgot Password?</a></li>
      <li><a routerLink="/sign-up/traveller">Create a new account</a></li>
    </ul>
  </div>
  <p>© 2022 TripBuddies.All your privacy is sure!</p>
</div>




