.register-dev-form{
  background-color: rgba(242, 212, 121, 0.5);
  width: 100%;
  height: 75%;
  margin: auto auto;
  justify-content: center;
  text-align: center;
}

.main-div {
  height: 40%;
  align-items: center;
  background-color: rgba(242, 212, 121, 0.5);
  width: 90%;
  margin: auto auto;
}


.main-div .mat-form-field {
  font-size: 0.7rem;
  margin: 1% 1%;
  text-align: center;
  width: 30%;
}


.professional-info{
  background-color: rgba(242, 212, 121, 0.5);
  border-radius: 20px;
  border: 1px solid #000000;
  align-items: center;
  width: 90%;
  height: 40%;
  margin: 1% auto;
}

.professional-info .mat-form-field {
  background-color: rgba(242, 212, 121, 0.5);
  font-size: 0.7rem;
  margin: 1% 1%;
  text-align: center;
  width: 30%;
}

h3{
  margin: 3%;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.register-dev-form .btn-register{
  background-color: #000000;
  width: 40%;
  height: 10%;
  margin: 1% auto;
  text-align: center;
  font-size: 1.8vh;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .register-dev-form{
    background-color: rgba(242, 212, 121, 0.5);
    width: 100%;
    height: 75%;
    margin: auto auto;
    justify-content: center;
    text-align: center;
  }

  .main-div {
    height: 40%;
    align-items: center;
    background-color: rgba(242, 212, 121, 0.5);
    width: 90%;
    margin: auto auto;
  }


  .main-div .mat-form-field {
    font-size: 0.7rem;
    margin: 1% 2%;
    text-align: center;
    width: 40%;
  }


  .professional-info{
    background-color: rgba(242, 212, 121, 0.5);
    border-radius: 20px;
    border: 1px solid #000000;
    align-items: center;
    width: 90%;
    height: 45%;
    margin: 4% auto;
  }

  .professional-info .mat-form-field {
    background-color: rgba(242, 212, 121, 0.5);
    font-size: 0.7rem;
    margin: 1% 2%;
    text-align: center;
    width: 30%;
  }

  h3{
    margin: 5%;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }

  .register-dev-form .btn-register{
    background-color: #000000;
    width: 40%;
    height: 10%;
    margin: 0% auto;
    text-align: center;
    font-size: 1.8vh;
  }
}
