<div class="container">
  <div class="option">
    <h3>Buscar lugares por localización</h3>
    <mat-form-field>
      <input matInput placeholder="Localización" [(ngModel)]="searchLocation">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="searchPlaces()">Buscar</button>
  </div>
  <div class="option">
    <h3>Ver todos los lugares</h3>
    <button mat-raised-button color="primary" (click)="getAllPlaces()">Ver todos</button>
  </div>

  <div class="results" *ngIf="places.length > 0">
    <table mat-table [dataSource]="places" class="mat-elevation-z8">
      <!-- Column definitions -->
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>Foto</th>
        <td mat-cell *matCellDef="let place"><img [src]="place.imageUrl" alt="Foto del lugar" width="100%" height="100%"></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let place">{{ place.name }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let place">{{ place.description }}</td>
      </ng-container>
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Localización</th>
        <td mat-cell *matCellDef="let place">{{ place.location }}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let place">{{ place.price }}</td>
      </ng-container>
      <ng-container matColumnDef="favorite">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let place">
          <button mat-icon-button color="warn" (click)="addToFavorites(place.id)">
            <mat-icon>favorite</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="reviews">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let place">
          <button mat-raised-button color="primary" (click)="openEditDialog(place.id)" >Ver reseñas</button>
        </td>
      </ng-container>

      <!-- Table rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let place; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<ng-template #editDialog>
  <h2>Tabla de reseñas</h2>
  <div class="add-review-button">
    <button mat-raised-button color="primary" (click)="openAddReview()">Añadir reseña</button>
  </div>
  <table mat-table [dataSource]="reviewsData" class="mat-elevation-z8">
    <!-- Column definitions -->
    <ng-container matColumnDef="profileImage">
      <th mat-header-cell *matHeaderCellDef>Foto de perfil</th>
      <td mat-cell *matCellDef="let review">
        <img [src]="review.traveller.image" alt="Foto de perfil" class="profile-image">
      </td>
    </ng-container>
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let review">{{ review.traveller.firstName }} {{ review.traveller.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="reviewContent">
      <th mat-header-cell *matHeaderCellDef>Contenido de la reseña</th>
      <td mat-cell *matCellDef="let review">{{ review.reviewText }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let review">
        <button mat-icon-button color="primary" *ngIf="isCurrentUserReview(review)" (click)="editReview(review)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Table rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let review; columns: displayedColumns2;"></tr>
    <ng-template #addReview>
      <div class="create-review">
        <h3>Escribir nueva reseña</h3>
        <mat-form-field>
          <mat-label>Reseña</mat-label>
          <textarea matInput [(ngModel)]="newReviewContent" maxlength="500"></textarea>
          <mat-hint align="end">{{ newReviewContent.length }}/500 caracteres</mat-hint>
        </mat-form-field>
        <div class="edit-buttons">
          <button mat-raised-button color="primary" [disabled]="newReviewContent.length === 0" (click)="createReview(place.id)">Crear reseña</button>
          <button mat-raised-button color="warn" (click)="closeEditDialog()">Cancelar</button>
        </div>
      </div>
    </ng-template>
  </table>

</ng-template>




